<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-10-26T19:34:28Z</date>
	<key>WorkspacePath</key>
	<string>/Users/vkatra/Documents/Personal/MedRep/SourceCode/Sep4/iOS-app-MedRep/MedRep/MedRep.xcworkspace</string>
</dict>
</plist>
